.card-general{
    width: 500px;
}

.body-card{
    background-image: url('https://images.pexels.com/photos/5807670/pexels-photo-5807670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
}
table,th,td{
    border:1px solid black;
}


#conten-table td {
    padding: 10px;
}

